.modal-wrapper {
  position: absolute;
  left: 0;
  top: 23%;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(10px);
  z-index: 10;
}

.modal {
  position: relative;
  left: 25%;
  width: 45%;
  height: 30%;
  display: flex;
  justify-content: center;
  border-radius: 5%;
  background-color: black;
}

.share-modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin-top: 5%;
}

.share-button {
  margin: 10px;
}

.download-options {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;
}

.close {
  position: relative;
  left: 90%;
  top: 5%;
  height: 30px;
  width: 30px;
}

.close:hover {
  filter: brightness(1.3);
}
