.modal-wrapper {
  position: absolute;
  left: 0;
  top: 24%;
  width: 100vw;
  height: 60vh;
  backdrop-filter: blur(10px);
  z-index: 10;
}

.modal {
  position: relative;
  left: 25%;
  width: 43%;
  height: 90%;
  padding: 0 0 0 5%;
  background-color: black;
}

.info-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10%;
}

.all-wrapper {
  display: flex;
  flex-direction: row;
}

.close {
  position: relative;
  left: 90%;
  top: 5%;
  height: 30px;
  width: 30px;
}

.repo-link {
  position: relative;
  bottom: 25%;
  left: 31%;
  width: 36%;
  height: 40px;
  font-size: 1.2rem;
}

.repo-link,
.close {
  color: #EFEFEF;
  background-color: #189a7e;
  font-family: menlo;
  font-weight: bold;
  cursor: pointer;
  border-radius: 10%;
  border: none;
}

.repo-language {
  margin: 0px;
}

.close:hover,
.repo-link:hover {
  filter: brightness(1.3);
}
