header {
  display: flex;
  justify-content: space-between;
  height: 7vh;
  width: 97vw;
  margin: 0;
  text-align: center;
  margin-bottom: 20px;

}
.home-button {
  margin-left: 2vw;
  margin-top: 1vh;
}

.title {
  margin-left: 50vw;
  transform: translateX(-50%);
}
