.flower-key-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.key-annotations {
  width: 35vw;
  height: 40vh;
  margin-right: 50px;
}

p {
  font-size: 1rem;
}

.flower-key {
  /* margin-left: 30px; */
  width: 550px;
  height: 550px;
}

.flower-head-key {
  filter: brightness(150%);
}
