.github-activity-map-container {
  height: 70vh;
  width: 95vw;
  border: 2px solid black;
  margin-bottom: 50px;
}

.circle-marker {
  stroke-width: 10;
  animation-name: circle;
  animation-duration: 1.2s;
  transition-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes circle {
  0% {
    stroke-width: 0;
    opacity: 1;
  }

  100% {
    stroke-width: 100;
    opacity: 0;
  }
}
