header {
  display: flex;
  justify-content: space-between;
  height: 7vh;
  width: 98vw;
  margin: 0;
  text-align: center;
  margin-bottom: 20px;
  padding-right: 1vw;
  padding-top: 1vh;
  padding-left: 1vw;
}
.home-button {
  margin-left: 2vw;
  margin-top: 1vh;
}

.title {
  margin-left: 48vw;
  transform: translateX(-50%);
}
