main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 45vh;
}

.search-wrapper {
  margin-top: 50px;
  margin-bottom: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar {
  color: white;
  margin-right: 10px;
  width: 300px;
  height: 50px;
  background-color: #222323;
  font-size: 1.2rem;
  border: none;
  border-bottom: 2px solid darkgrey;
}

.search-btn {
  background-color: #3F6422;
  color: #EFEFEF;
  width: 75px;
  height: 55px;
  font-size: 1.2rem;
}

.map-btn {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 10px;
  background-color: #3F6422;
  color: #EFEFEF;
  font-size: 1.2rem;
  margin-top: 5vh;
  width: 50vh;
  min-height: 30vh;
  background-image: url('./farming.svg');
  background-position: center;
  background-size: 50%;
  background-repeat: no-repeat;
  border-radius: 10px;
}

.map-loader {
  min-height: 10px;
  width: 95vw;
  background: rgb(112,255,0);
  background: linear-gradient(90deg, white 0%, rgba(32,232,16,1) 100%);
  animation: slide 1s ease infinite;
}

@keyframes slide {
  0% {
    background: linear-gradient(90deg, white 0%, rgba(32,232,16,1) 100%);
  }
  10% {
    background: linear-gradient(90deg, rgba(32,232,16,1) 0%, white 10%, rgba(32,232,16,1) 100%);
  }
  20% {
    background: linear-gradient(90deg, rgba(32,232,16,1) 0%, white 20%, rgba(32,232,16,1) 100%);
  }
  30% {
    background: linear-gradient(90deg, rgba(32,232,16,1) 0%, white 30%, rgba(32,232,16,1) 100%);
  }
  40% {
    background: linear-gradient(90deg, rgba(32,232,16,1) 0%, white 40%, rgba(32,232,16,1) 100%);
  }
  50% {
    background: linear-gradient(90deg, rgba(32,232,16,1) 0%, white 50%, rgba(32,232,16,1) 100%);
  }
  60% {
    background: linear-gradient(90deg, rgba(32,232,16,1) 0%, white 60%, rgba(32,232,16,1) 100%);
  }
  70% {
    background: linear-gradient(90deg, rgba(32,232,16,1) 0%, white 70%, rgba(32,232,16,1) 100%);
  }
  80% {
    background: linear-gradient(90deg, rgba(32,232,16,1) 0%, white 90%, rgba(32,232,16,1) 100%);
  }
  90% {
    background: linear-gradient(90deg, rgba(32,232,16,1) 0%, white 90%, rgba(32,232,16,1) 100%);
  }
  100% {
    background: linear-gradient(90deg, rgba(32,232,16,1) 0%, white 100%);
  }
}
