.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: #222222;
  border-radius: 5px;
}

.legend {
  border: 1px solid white;
  text-align: left;
  line-height: 18px;
  color: white;
  border-radius: 5px;
}

p {
  font-size: 1.2rem;
}

.red {
  color: red;
}

.white {
  color: white;
}

.orange {
  color: orange;
}

.blue {
  color: blue;
}

.green {
  color: green;
}

.purple {
  color: purple;
}

.cornflowerblue {
  color: cornflowerblue;
}
