.user-profile-pic {
  height: 12vh;
  border-radius: 50%;
}
.user-visualizations-box {
  width: 100%;
  height: 55vh;
  position: absolute;
  bottom: 10vh;
  overflow: scroll;
}

/* .gardener-info {
  /* display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; */
  /* align-content: center;
  text-align: center;
} */

.slideout-color-key-toggler {
  position: fixed;
  bottom: 0;
  left: 45vw;
  width: 0;
  height: 0;
  border-left: 3vh solid transparent;
  border-right: 3vh solid transparent;
  border-bottom: 3vh solid black;
  padding: 50px 0px 20px 10px;
  /* background: grey; */
  /* border-radius: 0% 50% 50% 0%;
  border-right: 2px solid #ffdbbc; */
  text-align: left;
  font-size: 10px;
  color: #ffdbbc;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
}

  .slideout-color-key_inner {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: fixed;
    bottom: -8vh;
    left: 0;
    height: 2vh;
    width: 100vw;
    background: black;
    padding: 25px;
    font-size: 16px;
    font-style: normal;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
    text-align: left;
    -webkit-border-radius: 0 0 5px 0;
    -moz-border-radius: 0 0 5px 0;
    border-radius: 0 0 5px 0;
  }

  .slideout-color-key-toggler:hover {
    bottom: 7vh;
    cursor: pointer;
  }
  .slideout-color-key-toggler:hover .slideout-color-key_inner {
    bottom: 0;
  }

  .color-key-seed {
    width: 50px;
  }

  .color-key-set {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 75px;
    margin-top: 0;
    margin-right: 5px;
  }

  .color-key-language {
    margin-top: 0;
    font-size: 0.8rem;
  }
