.watering-can {
  margin-top: 30px;
  width: 300px;
  height: 300px;
  background-image: url('./watering-can.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  animation: water 4s linear infinite;
}

.rain {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  width: 80px;
  height: 200px;
  border: 1px solid red;
}

.droplet {
  background-color: cornflowerblue;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  animation: rain 4s linear infinite;
}

@keyframes rain {
  
}

@keyframes water {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(120deg);
  }
  100% {
    transform: rotate(120deg);
  }
}
