  .color-pairs {
    display: flex;
  }

  .color-key-seed {
    width: 50px;
  }

  .color-key-set {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 75px;
    margin-top: 40px;
    margin-right: 5px;
  }

  .color-key-language {
    margin-top: 0;
    font-size: 0.8rem;
  }
