.user-profile-pic {
  height: 100px;
  border-radius: 50%;
}

.slideout-color-key-toggler {
  position: fixed;
  bottom: 10px;;
  left: 2vw;
  width: 100px;
  height: 90px;
  background: black;
  border-radius: 10%;
  text-align: center;
  font-size: 0.6rem;
  color: #ffdbbc;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
}

.slideout-color-key_inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: -470px;
  left: 0;
  height: 500px;
  width: 100vw;
  background: black;
  padding: 25px;
  font-size: 16px;
  font-style: normal;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  text-align: left;
  -webkit-border-radius: 0 0 5px 0;
  -moz-border-radius: 0 0 5px 0;
  border-radius: 0 0 5px 0;
}

.slideout-key_heading {
  margin: 5px;
  color: grey;
}

.slideout-color-key-toggler:hover {
  bottom: 7vh;
  cursor: pointer;
}
.slideout-color-key-toggler:hover .slideout-color-key_inner {
  bottom: 0;
}

.user-visualizations-box {
  width: 100%;
  height: 47vh;
  position: absolute;
  bottom: 18vh;
  overflow-x: scroll;
}

.gardener-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  text-align: center;
  margin-top: -50px;
}

.gardener-wrapper {
  margin-top: -50px;
  position: relative;
  width: 300px;
  height: 200px;
}

.gardener-name {
  font-size: 20px;
}

.icons {
  display: flex;
}

.download-icon {
  height: 30px;
  width: 40px;
  background-color: #222323;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url('../assets/download.png');
  cursor: pointer;
  border: none;
}

.share-icon {
  height: 23px;
  width: 40px;
  background-color: #222323;
  background-image: url('../assets/share.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
  margin-right: 20px;
  margin-top: 2px;
  border: none;
}

.share-icon:hover {
  background-image: url('../assets/share-active.png');
}

.download-icon:hover {
  background-image: url('../assets/download-active.png');
}

@media screen and (max-width: 1100px) {
  .slideout-color-key_inner {
    height: 570px;
    bottom: -490px;
    align-items: center;
  }

  .slideout-color-key-toggler {
    bottom: 60px;
  }
}

@media screen and (max-width: 700px) {
  .slideout-color-key_inner {
    height: 550px;
    bottom: -470px;
  }

  .gardener-info {
    margin-top: 0;
  }
}

@media screen and (max-width: 500px) {
  .slideout-color-key_inner {
    height: 500px;
    bottom: -420px;
  }
}
