.flower-key-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -50px;
}

.key-annotations {
  width: 35vw;
  height: 250px;
  margin-right: 50px;
}

.annotation {
  font-size: 0.9rem;
  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
  color: #EFEFEF;;
}

.learn-more {
  font-size: 14px;
  color: #EFEFEF;
  background-color: black;
  font-family: Menlo;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  border: 0.5px solid grey;
  height: 30px;
  margin: 5px;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

.flower-key {
  width: 550px;
  height: 550px;
}

.svg-clicker {
  cursor: pointer;
}

@media screen and (max-width: 1100px) {
  .key-annotations {
    width: 25vw;
    height: 100px;
    margin-left: 20px;
    margin-top: -300px;
  }
  .annotation {
    font-size: 0.8rem;
  }
  .flower-key-box {
    margin-bottom: -70px;
  }
}

@media screen and (max-width: 700px) {
  .flower-key-box {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .flower-key {
    margin-bottom: -50px;
    width: 375px;
    height: 375px;
  }

  .key-annotations {
    margin-top: -200px;
    width: 90vw;
    margin: 0;
    text-align: center;
    margin-left: -50px;
  }

  .annotation {
    font-size: 0.7rem;
  }
}


@media screen and (max-width: 500px) {

  .flower-key {
    width: 320px;
    height: 320px;
  }

  .key-annotations {
    width: 95vw;
  }

.annotation {
    font-size: 0.6rem;
  }
}
