.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: #222222;
  border-radius: 5px;
}

.legend {
  border: 1px solid white;
  text-align: left;
  line-height: 18px;
  color: white;
  border-radius: 5px;
}

p {
  font-size: 1.2rem;
}

h2,
p {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

.push {
  color: #FF8C00;
}

.other {
  color: white;
}

.public {
  color: #00FF00;
}

.watch {
  color: #FF00FF;
}

.issue {
  color: #6495ED;
}

.pull {
  color: #FFFF54;
}

.create {
  color: #00BFFF;
}
